<div class="div-chart-up">
    <div class="div-bar">
        <mat-card class="card-grafic-bar">
            <p-chart type="bar" [data]="dataBar" [options]="options"></p-chart>
        </mat-card>
    </div>

  
   
</div>

<div class="div-chart-down">
    <div>
        <mat-card>
            <p-chart type="pie" [data]="dataPie" [options]="options"></p-chart>
        </mat-card>
    </div>

    <div class="div-doughnut">
        <mat-card class="card-grafic-doughnut">
            <p-chart type="doughnut" [data]="dataDoughnut" [options]="options"></p-chart>
        </mat-card>
    </div>
</div>

