.div-chart-up {
    display: flex;
    margin-left: 15px;
}

.div-chart-down {
    display: flex;
    margin-left: 15px;
    margin-top: 20px;
}

.card-grafic-bar {
    width: 638px;
    margin-top: 30px;
}

.card-grafic-doughnut {
    margin-top: -8px;
}

.div-bar {
    float: right;
}

.div-doughnut {
    float: left;
    margin-top: 9px;
    margin-left: 10px;
}
